
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@using EmprendeUCR_WebApplication.Application.OrderContext.Implementations
@using EmprendeUCR_WebApplication.Domain.OrderContext.Entities;
@inject EntrepreneurService EntrepreneurService
@inject ProductService ProductService
@using Syncfusion.Blazor.TreeGrid;
@inject Product_ServiceService Product_ServiceService
@inject ClientService Client_Service
@inject UserServicePandemic UserService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject OrderService OrderService
@inject NavigationManager NavManager

<body>


    <table class="table">
        <thead class="bg-blue">
            <tr>


                <th scope="col">Emprendedor</th>
                <th scope="col">Categorías</th>
                <th scope="col">Productos</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <th scope="row">Nombre Emprendedor </th>
                <th scope="row">
                    <ul>
                        <li>Categoría 1 </li>
                        <li>Categoría 2 </li>
                        <li>Categoría 3 </li>
                    </ul>
                </th>
                <th scope="row">
                    <ul>
                        <li>Producto 1 </li>
                        <li>Producto 2 </li>
                        <li>Producto 3 </li>
                    </ul>
                </th>
                <th scope="row"> <button type="button" class="btn btn-danger material-icons-outlined ">delete</button> </th>
            </tr>

        </tbody>

    </table>


    <NavLink class="nav-link" href="Alliances">
        <button class="btn btn-primary">Buscar nuevas alianzas</button>
    </NavLink>
</body>



@code {


}

