@*Para esta actividad supervisada se va a trabajar en la historia de usuario
    PIIB12021-336: Be able to add payment methods to my profile
    Se van a trabajar las siguientes tareas:
    Link the functionality to an interface
    Check from an interface the available payment methods that the entrepreneurs
    can add*@

@page "/entrepreneur_payment_methods"
@page "/entrepreneur_payment_methods/{emailToRegister}"

@using EmprendeUCR.Application.PaymentInfos;
@using EmprendeUCR.Application.PaymentMethods;
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@if (_isLoading)
{
    <p>Cargando</p>
}
else
{
    <div class="grid-container">
        <div class="grid-item">
            <b>SINPE Móvil</b>
            <EmprendeUCR.Presentation.Pages.PaymentInfos.SinpeMovil.SinpeMovilPaymentInfoEntrepreneur />
        </div>
        <div class="grid-item">
            <b>SINPE IBAN</b>
            <EmprendeUCR.Presentation.Pages.PaymentInfos.SinpeIban.SinpeIbanPaymentInfoEntrepreneur />
        </div>
        <div class="grid-item">
            <b>Tarjetas</b>
            <EmprendeUCR.Presentation.Pages.PaymentInfos.Card.CardPaymentInfoEntrepreneur emailToRegister=@emailToRegister />
        </div>

    </div>
    <div class="my-3">
        @if (!string.IsNullOrEmpty(@buttonMessage))
        {
            <center>
                <button @onclick="finish" class="btn btn-primary marginButton">@buttonMessage</button>
            </center>
        }
    </div>

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            padding: 10px;
            align-content: start;
        }

        .grid-item {
            padding: 10px;
        }
    </style>
}
@code
{
    bool _isLoading = true;

    [Parameter]
    public string emailToRegister { get; set; } = string.Empty;
    private string buttonMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(emailToRegister))
        {
            buttonMessage = "Finalizar";
            _isLoading = false;
        }
        else
        {
            // TODO: Loading
            string Email = await sessionStorage.GetItemAsync<string>("Email");
            int Type = await sessionStorage.GetItemAsync<int>("Type");

            if (Email == null)
            {
                NavigationManager.NavigateTo("/Login");
            }
            if (Type != 2)
            {
                NavigationManager.NavigateTo("/Login");
            }

            else
            {
                _isLoading = false;
            }
        }

    }

    private async void finish()
    {
        NavigationManager.NavigateTo("/Login?type=Entrepreneur");
    }
}
