@page "/AddProduct"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject ProductService  productService
@inject NavigationManager NavigationManager
<h2>Add Product</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input form="Price" type="number" class="form-control" @bind="@obj.Price" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateProduct" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    Product obj = new Product();
    protected async void CreateProduct()
    {
        await productService.InsertProductAsync(obj);
        NavigationManager.NavigateTo("ListProducts");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("ListProducts");
    }
}