@page "/ForgotPassword"
@using Microsoft.AspNetCore.WebUtilities
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject NavigationManager NavigationManager
@inject Email_ConfirmationService Email_ConfirmationService
@inject EncrypService EncrypService
@inject MailService MailService
@inject UserService UserService
@inject CredentialsService CredentialsService
@inject MailService MailService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@inject Email_ConfirmationService Email_ConfirmationService
@*<center>*@
<form>
    <EditForm Model="@credentials" OnValidSubmit="@recuperarContra">
        <center>
            <h3>¿Ha olvidado la contraseña?</h3>
            <br />
            <div class="mb-3">
                <label for="inputName" class="form-label" style="font-size: 25px">Ingrese su correo</label>
                <InputText type="text" @bind-Value="credentials.User_Email" class="form-control" id="inputName" style="width: 20%" maxlength="200" required />
            </div>
        </center>
        <center>
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </center>
    </EditForm>
</form>
@*</center>*@

@code {
    Credentials credentials = new Credentials();
    Email_Confirmation newEmail_Confirmation = new Email_Confirmation();

    private async void recuperarContra()
    {
        newEmail_Confirmation = Email_ConfirmationService.getEmailConfirmationEmail(credentials.User_Email);
        Mail mail = this.getMail(newEmail_Confirmation);
        await MailService.SendMail(mail);
        NavManager.NavigateTo("/email_success");
    }

    public Mail getMail(Email_Confirmation email)
    {
        Mail mail = new Mail();
        mail.Subject = "Recuperar contraseña";
        mail.Body = MailService.getNewPasswordMail(email.Hash_Code);
        mail.ToMailIds = new List<string>()
{
           email.Email,
        };
        return mail;
    }
}
