@page "/ForgotPassword"
@using Microsoft.AspNetCore.WebUtilities
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject NavigationManager NavigationManager
@inject Email_ConfirmationService Email_ConfirmationService
@inject EncrypService EncrypService
@inject MailService MailService
@inject UserService UserService
@inject CredentialsService CredentialsService
@inject MailService MailService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<!--HTML-->
<div class="flexDiv">
    <div class="mainClass">
        <h2>Recuperación de contraseña</h2>
        <p>Por favor ingrese el correo asociado a su cuenta para recuperar la contraseña.</p>
    <EditForm Model="@credentials" OnValidSubmit="@recuperarContra">

            <!--Email input-->
            <div class="marginElements">
                <label for="inputName" class="form-label secondary_title">Ingrese su correo:</label>
                <InputText type="text" @bind-Value="credentials.User_Email" class="form-control inputsClass" id="inputName" maxlength="200" required />
            </div>

            <!--Submit button-->
        <center>
                <button type="submit" class="btn btn-primary marginElements">Recuperar contraseña</button>
        </center>
    </EditForm>
     </div>
</div>

@code {
    /*Forgot password atributes*/
    Credentials credentials = new Credentials();
    Email_Confirmation newEmail_Confirmation = new Email_Confirmation();

    /*
    Brief: Sends email with password recovering.
    Parameters:
    Returns:
    */
    private async void recuperarContra()
    {
        newEmail_Confirmation = Email_ConfirmationService.getEmailConfirmationEmail(credentials.User_Email);
        if (newEmail_Confirmation != null)
        {
        Mail mail = this.getMail(newEmail_Confirmation);
        await MailService.SendMail(mail);
            NavManager.NavigateTo("/messagePage?type=5");
        }
        else
        {
            NavManager.NavigateTo("/messagePage?type=6");
        }
    }

    /*
    Brief: Get the email body.
    Parameters: Email_Confirmation email.
    Returns: Mail
    */
    public Mail getMail(Email_Confirmation email)
    {
        Mail mail = new Mail();
        mail.Subject = "Recuperar contraseña";
        mail.Body = MailService.getNewPasswordMail(email.Hash_Code);
        mail.ToMailIds = new List<string>()
{
           email.Email,
        };
        return mail;
    }
}
