<h1>ListProvinces</h1>
@page "/listProvinces"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject ProvinceService ProvinceService

@if (_isLoading)
{
    <p>Cargando...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _province)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>

            }
        </tbody>
    </table>
}


@code {
    private bool _isLoading = true;
    private IList<Province> _province;

    protected override async Task OnInitializedAsync()
    {
        _province = await ProvinceService.GetAsync();
        _isLoading = false;
    }
}