<h3>Prueba</h3>
@page "/Prueba"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject ProvinceService ProvinceService
@inject CantonService CantonService
@inject DistrictService DistrictService

@if (_isLoading)
{
    <p>Cargando...</p>
}
else
{
    <select name="Province" onchange="getCanton()" required>
        @foreach (var province in _province)
        {
        	<option value="userProvince">@province.Name</option>
        }
    </select>

    <select name="Canton" required>
        @foreach (var canton in _canton)
        {
        	<option value="userCanton">@canton.Name</option>
        }
    </select>
}

@code{
	private bool _isLoading = true;
	private string userProvince = "";
	private string userCanton = ""; 
	private IList<Province> _province;
	private IList<Canton> _canton;
	private IList<District> _district;

	protected override async Task OnInitializedAsync()
	{
		_province = await ProvinceService.GetAsync();
		_canton = await CantonService.GetAsync();
		//_province = await ProvinceService.GetAsync();
		_isLoading = false;
	}

	public void getCanton()
	{
		_canton = CantonService.GetList(userProvince);
	}

}