@page "/UpdateProduct/{Id}"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject ProductService  productService 
@inject NavigationManager NavigationManager
<h2>Editar producto</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Precio (CRC)" class="control-label">Precio (CRC)</label>
                <input form="Precio (CRC)" type="number" class="form-control" @bind="@obj.Price" />
            </div>
            <div class="form-group">
                <label for="Descripción" class="control-label">Descripción</label>
                <input form="Descripción" class="form-control" @bind="@obj.Product_Description" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Modificar" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]

    public string Id { get; set; }

    Product obj = new Product ();
    

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => productService.GetProductAsync(Convert.ToInt32(Id)));   //product va en minuscula
    }             

    protected async void Update()
    {
        await productService.UpdateProductAsync(obj);
        NavigationManager.NavigateTo("ListProducts");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("ListProducts");
    }
}